/* Font Face */

@font-face {
  font-family: Hiragino Sans;
  src: url(../assets/fonts/Hiragino-Sans-GB-W3.otf);
  font-weight: 400;
}

@font-face {
  font-family: Hiragino Sans;
  src: url(../assets/fonts/Hiragino-Sans-GB-W3.otf);
  font-weight: 500;
}

@font-face {
  font-family: Hiragino Sans;
  src: url(../assets/fonts/Hiragino-Sans-GB-W3.otf);
  font-weight: 600;
}

@font-face {
  font-family: Hiragino Sans;
  src: url(../assets/fonts/Hiragino-Sans-GB-W3.otf);
  font-weight: 700;
}

@font-face {
  font-family: Hiragino Sans;
  src: url(../assets/fonts/Hiragino-Sans-GB-W3.otf);
  font-weight: 800;
}

/* START COMMON */
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Sans", sans-serif;
  color: var(--text-color);
}

body {
  margin: 0px auto;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

.container-fluid {
  padding-left: calc((50% - 660px));
  padding-right: calc((50% - 660px));
}

.container {
  padding-left: calc(50% - 500px);
  padding-right: calc(50% - 500px);
  width: 1000px;
  margin: 0 auto;
}

/* END COMMON */

/* START HEADER */
.header-main {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

.logo {
  width: 125px;
  display: block;
}

.logo figure {
  height: 100%;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  height: 68px;
  justify-content: space-between;
  border-right: 4px solid #00205b;
  padding-right: 23px;
}

.nav-bar__top {
  display: flex;
  gap: 60px;
  align-items: center;
}

.nav-bar__search {
  font-size: 11px;
  color: #bebebe;
}

.nav-bar__description {
  display: flex;
  gap: 50px;
}

.nav-bar__icon {
  background: url("../assets/images/desktop/Header/header_outlink_icon.png")
    no-repeat right 4px;
  padding-right: 14px;
  font-size: 11px;
  font-weight: unset;
  color: #bebebe;
}

.nav-bar__bottom {
  display: flex;
  justify-content: end;
}

.nav-bar__bottom > .nav-bar__description {
  gap: 0;
}

.nav-bar__item {
  padding: 0 26px;
  border-right: 1px solid #f0f0f0;
}

.nav-bar__item:last-child {
  border-right: none;
}

.nav-bar__item a {
  font-size: 20px;
  color: #181818;
}

.nav-bar__img {
  padding: 0 23px;
}

.navigation {
  background-color: #eeeeee;
  padding-top: 69px;
  padding-bottom: 20px;
  color: #474747;
  font-size: 10px;
}

.navigation a:first-child {
  color: #794ca2;
}

.navigation a:nth-child(2) {
  color: #378bca;
}

.navigation__icon {
  padding: 0 10px;
}

.navigation__icon:nth-child(4) {
  padding-right: 37px;
}

/* END HEADER */

/* START BANNER */

.banner {
  background-image: url(../assets/images/desktop/banner/banner.png);
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  background-position: center;
}

.banner__badge {
  margin-top: 220px;
}

.banner__text {
  width: 90px;
}

.banner__detail {
  display: flex;
}

.banner__description {
  margin-left: 80px;
  margin-right: 40px;
}

.banner__box {
  padding-top: 27px;
  display: flex;
  gap: 10px;
}

.box__main {
  width: 205px;
  height: 56px;
  box-sizing: border-box;
  padding: 10px 37px;
}

.box-banner__content {
  font-size: 14px;
  line-height: 24px;
}

.box__text {
  margin-top: 10px;
  width: 405px;
  line-height: 12px;
  color: #ffff;
  font-size: 9px;
  text-align: center;
}

/* END BANNER */

/* START TERMS */
.terms {
  padding: 80px 0 0;
}

.terms-title {
  background-color: #646464;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: 5px 5px #e1e1e1;
}

.terms-title__content {
  padding: 30px 445px;
}

.terms-content {
  padding: 40px;
}

.terms-text {
  text-align: center;
  line-height: 30px;
}

.terms-box {
  display: flex;
  justify-content: space-between;
}

.section-box {
  padding-top: 40px;
}

.section-box__main {
  padding: 40px 95px;
}

.terms-box__left {
  background: linear-gradient(to top, #bf000a 50%, #cf000d 50%);
  display: flex;
  align-items: center;
}

.terms-box__content {
  font-weight: 800;
  text-align: center;
  color: white;
}

.terms-box__right {
  background: linear-gradient(to top, #0052a5 50%, #0060b2 50%);
  display: flex;
  align-items: center;
}

.terms-box__svg {
  padding-right: 25px;
}

.section-box__content {
  font-size: 23px;
  line-height: 30px;
}
/* END TERMS */

/* START CONTACT */
.contact {
  background-color: white;
  height: 120px;
  padding: 75px 0;
}

.contact-wrap {
  border: 1px solid #00205b;
  display: flex;
}

.contact__button {
  padding: 45px 78px;
  font-size: 16px;
  background-color: #00205b;
  color: white;
  font-weight: 800;
}

.contact__info {
  padding: 24px 188px 34px 102px;
  line-height: 30px;
}

/* END CONTACT */

/* START FOOTER */
.footer {
  max-width: 1920px;
  background-color: #1b1b1d;
}

.container-fluid {
  display: flex;
}

.container-fluid .footer__left {
  width: 40%;
  padding-right: 60px;
}

.footer__left img {
  width: 100%;
  height: auto;
}

.footer__right {
  width: 60%;
}

.footer__right__top {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.menu-title {
  width: calc(100% / 3);
  position: relative;
}

.title {
  font-size: 16px;
  color: white;
  padding-bottom: 15px;
}

.hr-tag {
  width: 80%;
  position: absolute;
  border: 0.25px solid #323234;
}

.menu-item {
  padding-top: 20px;
}

.item-footer {
  color: white;
  padding-bottom: 15px;
  font-size: 16px;
}

.footer__right__bottom {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.social-icon {
  font-size: 16px;
}

.social-icon i {
  padding-right: 10px;
  font-size: 25px;
  color: white;
}

.footer-credit {
  background-color: #111111;
  padding: 20px 0;
}

.footer-credit__menu {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 10px;
}

.copy-right {
  padding-top: 20px;
  font-size: 10px;
  justify-content: center;
  color: #5c5c5c;
  display: flex;
}

.item-footer:hover {
  color: #5c5c5c;
}

.item-footer:hover a i {
  color: #5c5c5c;
}

.copy-right__item:hover {
  color: #262525;
}
/* END FOOTER */
